@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");
@import url(animations.css);

:root {
  --cor-primaria: #f0ebeb;
  --cor-secundaria: #75975b;
  --cor-terciaria: #3c4413;
  --cor-hover: #272727;
  --cor-destaque: #0b0b0b;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

::-webkit-scrollbar{
  width: 7px; 
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: #eaeaea;
  border-radius: 50px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.card img {
  width: 700px;
  height: auto;
  align-items: center;
  padding: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.card {
  padding-bottom: 0;
  align-items: center;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
}

.card p {
  text-align: justify;
  line-height: 30px;
}
.card a {
  text-decoration: none;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
}
.cabecalho {
  padding: 2% 0% 0% 15%;
  height: max-content;
}
.cabecalho__menu {
  display: flex;
  gap: 80px;
  background-color: var(--cor-primaria);
}
.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}

.cabecalho__menu__link_destaque {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--cor-secundaria);
  text-decoration: none;
}
.apresentacao {
  padding: 0 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}
.apresentacao__conteudo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin: 5% 0;
}
.apresentacao_projetos {
  align-items: center;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-primaria);
}
.titulo-destaque {
  color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto {
  font-size: 1rem;
  font-family: var(--fonte-secundaria);
  align-items: center;
}

.apresentacao__conteudo__sobremim {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  align-items: center;
  text-align: center;
}

.apresentacao__conteudo__projetos {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  align-items: center;
  text-align: center;
}

.apresentacao__conteudo__sobremim.span {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  align-items: center;
  text-align: center;
}

.apresentacao__conteudo__titulo_sobremim {
  font-size: 2.5rem;
  font-family: var(--fonte-secundaria);
  align-items: center;
}

.apresentacao__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.apresentacao_links_copyrights {
  display: flex;
  flex-direction: row;;
  justify-content: right;
  align-items: right;
  gap: 5px;
}
.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}
.apresentacao__links__navegacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;  
  width: auto;
  text-align: center;  
  font-size: 1.0rem;
  font-weight: 400;
  padding: 3px 10px;
  text-decoration: none;
  color: var(--cor-primaria);
  font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
  background-color: var(--cor-hover);
}
.apresentacao__imagem {
  width: 50%;
}
.rodape {
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  padding: 15px 10px;
  text-align: right;
  font-family: var(--fonte-secundaria);
  font-size: 1.0rem;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: auto;

  bottom: 0;
  left: 0;
}

@media (min-width: 1200px){
  body {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    min-height: 100vh;
  }
}

@media (max-width: 1200px) { 
  .cabecalho {
    padding: 10%;
  }
  .cabecalho__menu {
    justify-content: block;
    text-align: left;
    flex-direction: column;
    gap: 10px;
  }
  .apresentacao {
    flex-direction: column-reverse;

    padding: 30px 0;
  }
  .apresentacao__conteudo {
    width: auto;
    justify-content: center;
    text-align: center;
    font-size: 0.2rem;
    padding: 10%;
  }

  .apresentacao__imagem {
    width: 60%;
    gap: 50px;
  }

  .apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }

  .apresentacao__conteudo__sobremim {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    align-items: center;
  }

  .apresentacao__conteudo__projetos {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    align-items: center;
  }

  .apresentacao__conteudo__projetos img {
    width: 70%;
    height: auto;
    gap: 50px;
  }

  .rodape {
    width: auto;
    height: auto;
  }

  .card p {
    text-align: justify;
    padding: 30px 20px;
  }

  .card h3 {
    padding: 30px 20px;
  }

  .card a {
    padding: 30px 20px;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
  }

  .card img {
    width: 70%;
    gap: 50px;
  }

  .apresentacao_projetos {
    align-items: center;
    font-size: 1.25rem;
    font-family: var(--fonte-primaria);
    padding-left: 40%;
  }

  .apresentacao__links__link:hover {
    background-color: var(--cor-hover);
  }
}
